:root{
    --color-footer: rgb(10, 10, 10);
}
details{
    color: black;
    position: relative;
    cursor: pointer;
}
summary{
    list-style: none;
    color: white;
    display: flex;
    align-items: flex-end;
    gap: 5px;
    font-size: 22px;
}
summary .fa-caret-down{
    font-size: 16px;
    position: relative;
    top: 3px;
}
details[open] summary .fa-caret-down{
    transform: rotate(180deg);
}
.details__ul{
    background-color: rgb(40 40 40);
    width: 170px;
    position: absolute;
    right: 0px;
    margin-top: 10px;
    padding: 20px 0px;
}
.details__ul li{
    color: white;
    cursor: pointer;
    width: 100%;
    font-weight: 500;
    padding: 2px 30px;
    line-height: 30px;
    letter-spacing: 0.5px;
}
.details__ul li:hover{
    transition: background .3s ease;
    background-color: rgb(211 24 50);
}
.row-header{
    position: fixed;
    width: 100%;
    z-index: 10;
}
.row-header-screen{
    background-color: var(--color-footer);
}
.header{
    background-color:   var(--color-footer);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    position: relative;
}
.header__title__link{
    display: grid;
    align-content: center;
    color: aliceblue;
    z-index: 10;
    background: linear-gradient(to bottom right, rgb(0 0 0), rgb(44 43 43));
    background-color: aliceblue;
    cursor: pointer;
    font-size: 22px;
    border-radius: 0 15px 15px 0;
}
.header__buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.header__buttons__btn-search{
    display: block;
    width: 40px;
    height: 100%;
}
.header__buttons__btn-search i{
    font-size: 21px;
    color: aliceblue;
}
.header__buttons__btn-bars {
    width: 40px;
    z-index: 10;
}
.header__buttons__btn-bars i {
    font-size: 22px;
    color: aliceblue;
}
.header__search{
    width:  100%;
    background-color: white;
    display: flex;
    justify-content: center;
    clip-path: polygon(0 0, 0 0, 100% 0, 100% 0);
    transition: all .4s ease;
}
.header__search-open{
    clip-path:polygon(0 100%, 0 0, 100% 0, 100% 100%);
    padding: 10px 0px;
}

.header__search__form{
    min-height: 28px;
    display: flex;
    width: 60%;
    background-color: aliceblue;
    min-width: 240px;
    max-width: 390px;
}
.header__search__btn-open{
    background-color: rgb(211 24 50);
    padding: 6px 10px;
    color: aliceblue;
    font-weight: 500;
}
.input__header__search{
    width: 100%;
    padding: 2px 8px;
    border: 1px solid rgb(221, 221, 221);
    font-weight: 500;
}
.btn__header__search{
    background-color: rgb(211 24 50);;
    padding: 6px 10px;
    color: aliceblue;
    font-weight: 500;
}
.navbar{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
    height: 100vh;
    width: 80%;
    background-color: var(--color-footer);
    transform: translateX(105%);
    transition: transform .6s ease;
    box-shadow: -2px 57px 5px #3c3932;
}
.navbar-open{
    transform: translateX(0);
}
.navbar__list{
    padding-top: 70px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.navbar__item{
    width: 100%;
    display: flex;
    justify-content: center;
}
.navbar__item-hidden{
    display: none;
}
.navbar__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    width: 100%;
}
.navbar__link-login{
    flex-direction: row;
    align-items: flex-end;
    gap: 5px;
}
.navbar__link-login .fa-caret-down{
    font-size: 16px;
    position: relative;
    top: 3px;
}
.navbar__link i{
    font-size: 22px;
    color: aliceblue;
}
.navbar__link p {
    color: white;
}
.navbar__link-active  i{
    color: rgb(211 24 50);
}
.navbar__link-active {
    color: rgb(211 24 50);
}
.navbar__link-active  p{
    color: rgb(211 24 50);
}


@media screen and (min-width: 720px) {
    .row-header-screen{
        background-color: var(--color-footer);
    }
    .header{
        padding: 25px 0px;
        width: 85%;
        margin: 0 auto;
        box-shadow: none;
    }
    .header__buttons{
        display: none;
    }
    .navbar__item-hidden{
        display: inherit;
    }
    .navbar{
        position: relative;
        z-index: 1;
        box-shadow: none;
        transform: translateX(0px);
        width: auto;
        height: auto;
    }
    .navbar__link p{
        display: none;
    }
    .navbar__list{
        flex-direction: row;
        padding: 0;
    }
    .details__ul{
        background-color: var(--color-footer);
    }
}
@media screen and (min-width: 720px) {
   .header{
       width: 85%;
   } 
}