
/*home*/
.home{
    width: 90%;
    margin: 40px auto;
}
.home__subtitle{
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 18px;
}
.home-mark{
    margin: 30px 0px;
}
.home-mark__title{
    font-size: 18px;
}

/*----imggs----*/
.none{
    display: none;
}
.home-mark__container__img{
    display: flex;
    max-height: 140px;
    margin-top: 20px;
}
.container__img{
    width: 100%;
}

.container__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: scale 0.3s ease;
    cursor: pointer;
}
.container__img img:hover{
    scale:  1.04;
}
.home__link-products{
    text-align: center;
}
.home__link-products a{
    color: rgb(92 91 91);
    font-size: 16px;
    font-weight: 500;
}
.home__link-products a:hover{
    color: rgb(68, 68, 68);
}

@media screen and (min-width: 420px){
    .home-mark__title{
        font-size: 20px;
    }
    .home-mark{
        margin: 40px 0px;
    }
    .home__subtitle{
        font-size: 20px;
    }
}
@media screen and (min-width: 600px){
    .none{
        display: block;
    }
    .home-mark__container__img{
        max-height: 170px;
    }
    .home-mark__title{
        font-size: 22px;
    }
    .home-mark{
        margin: 50px 0px;
    }
    .home__subtitle{
        font-size: 22px;
    }
}
@media screen and (min-width: 800px){
    .none{
        display: block;
    }
    .home-mark__container__imgr{
        max-height: 190px;
    }
    .home-mark{
        margin: 60px 0px;
    }
    .home{
        width: 85%;
    }
}
@media screen and (min-width: 1300px){
    .none{
        display: block;
    }
    .home-mark__container__img{
        max-height: 300px;
        margin-top: 30px;
    }
    .home-mark__title{
        font-size: 24px;
    }
    .home-mark{
        margin: 70px 0px;
    }
    .home__subtitle{
        font-size: 24px;
    }
}